body {
  margin: 0;
  padding: 0;
}
.modal-top{
  text-align: center;
}
.title-text{
  font-size: 24px;
  font-weight: bold;
  margin: 40px 0;
}
.open-btn{
  width: 100px;
  height: 40px;

}
.modal{
  background-color: rgba(48, 48, 48, 0.8);
  display: block;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}
.modal-container{
  position: relative;
  width: 800px;
  height: 400px;
  background-color: #fff;
  margin: auto;
  text-align: center;
}
.modal-head{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d1d1d1;
  height: 20%;
  margin-top: 20px;
}
.modal-text{
  height: 60%;
  width: 100%;
  border-bottom: 1px solid #000;
}
.modal-footer {
  height: 20%;
  text-align: right;
}
.show-modal{
  display: block;
}